<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/skills/create">
        <label for="addSkill">Add Skill</label>
        <input type="text" id="addSkill" name="addSkill">
        <label for="addLearned">Add Skill</label>
        <input type="checkbox" id="addLearned" name="addLearned">
        <input type="submit">
    </form>
    <h4><a href="/skills">Go Back</a></h4>
</body>