<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <h1>Skills so Far</h1>
    <a href="/">Go Back Home</a>
    <ul>
        <% skills.forEach( skill=> { %>
            <li>
                <a href="/skills/<%= skill.id %>">
                    <%= skill.name %>
                </a>
                -
                <%= skill.learned ? 'Learned' : 'In Progress' %>
            </li>
            <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
            <% }); %>
    </ul>

    <a href="/skills/createForm">Add Skill</a>
</body>

</html>